    <style>
        .begin{
            padding-top: 0.8rem;
        }
        .excerpt{
            padding-top:2rem;
            padding-bottom: 3rem;
            text-align: center;
        }
    </style>
    <article class="article begin {{post_class}}">
        <header class="header">

            <h1 class="title flex-centered">{{title}}</h1>
            {{!--
            <span class="post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> <span class="bull">&bull;</span> {{reading_time}}</span>
            --}}
            {{#if custom_excerpt}}
            <p class="excerpt flex-centered">{{custom_excerpt}}</p>
            {{/if}}

            {{#if feature_image}}
            <figure class="figure">
                <img srcset="{{> functions/srcset}}"
                    class="img-responsive img-full-cover"
                    sizes="(max-width: 1000px) 400px, 700px"
                    loading="lazy"
                    src="{{img_url feature_image size="xl"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                />
                {{#if feature_image_caption}}
                    <figcaption class="figure-caption">{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
            {{/if}}
        </header>

    <div class="grid sm">
        <div class="row">
            <div class="content canvas">
                {{content}}
            </div>
        </div>
    </div>

        <footer class="footer canvas">

            <div class="flex-centered post-authors">
                {{#foreach authors}}
                <a href="{{url}}">

                    <span class="chip">
                        {{#if profile_image}}
                            <img src="{{profile_image}}" class="avatar avatar-xl">
                        {{/if}}
                        {{name}}
                        <a href="{{url}}"></a>
                    </span>
                {{/foreach}}
                </a>
            </div>
            {{!--
            <section class="post-comments">
                If you want to embed comments, this is a good place to do it!
            </section>
            --}}
        </footer>
    </article>

    <aside class="readmore">
        <div class="readmore-inner container">
            <div class="readmore-next">
                {{#next_post}}
                    <a href="{{url}}">
                        {{> "icons/arrow-left"}}<h4>{{title}}</h4></a>
                {{/next_post}}
            </div>
            <div class="readmore-prev">
                {{#prev_post}}<a href="{{url}}">
                    <h4>{{title}}</h4> {{> "icons/arrow-right"}}
                </a>{{/prev_post}}
            </div>
        </div>
    </aside>