{{!< ../default}}

<article class="grid {{post_class}}">

    {{> co-studios/header}}

    <div class="row mtr">
        <div class="col-mr-auto">
            <a href="/" class="btn btn-link" style="margin-top: 50%;"><i data-feather="arrow-left"></i></a>
        </div>
        <div class="col-mx-auto">
            <img src="{{asset '/images/building-image-trans.png'}}" class="img-fit-cover img-responsive" />
        </div>
        <div class="col-ml-auto">
            <a href="/venues/" class="btn btn-link" style="margin-top: 50%;"><i data-feather="arrow-right"></i></a>
        </div>
    </div>

    <div class="row mtr">
        <div class="col-7 col-mx-auto">
            <p class="mono upper text-small center">Hover or press on the building to get more information about all the
                co-studios</p>
        </div>

    </div>