{{!< ../default}}


<article class="grid {{post_class}}">
   {{> co-studios/header}}

<div class="row mtr">
    <div class="col-1 col-mr-auto">
        <a href="/co-studios/" class="btn" style="border: unset;margin-top: 50%;"><i data-feather="arrow-left"></i></a>
    </div>
</div>
<div class="grid xl">
    <div class="row mtr">

        <div class="col-xs-7 col-sm-5 col-md-5 col-lg-4 col-xl-3 col-3 col-mx-auto">
            <figure class="figure">
                <img src="{{asset '/images/music/music-studio-1.jpg'}}" class="img-responsive img-fit-cover"/>
                <figcaption class="figure-caption">
                    Studio 1
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-7 col-sm-5 col-md-5 col-lg-4 col-xl-3 col-3 col-mx-auto">
            <figure class="figure">
            <img src="{{asset '/images/music/music-studio-2.jpg'}}" class="img-responsive img-fit-cover"/>
                <figcaption class="figure-caption">
                    Studio 2
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-7 col-sm-5 col-md-5 col-lg-4 col-xl-3 col-3 col-mx-auto">
            <figure class="figure">
            <img src="{{asset '/images/music/music-studio-3.jpg'}}" class="img-responsive img-fit-cover"/>
                <figcaption class="figure-caption">
                    Studio 3
                </figcaption>
            </figure>
        </div>
        <div class="col-xs-7 col-sm-5 col-md-5 col-lg-4 col-xl-3 col-3 col-mx-auto">
            <figure class="figure">
                <img src="{{asset '/images/music/music-studio-4.jpg'}}" class="img-responsive img-fit-cover"/>
                <figcaption class="figure-caption">
                    Studio 4
                </figcaption>
            </figure>
        </div>

    </div>
</div>

<div class="row mtr">
    <div class="col-7 col-mx-auto">
        <p class="mono upper text-small center">Hover or press on the building to get more information about all the co-studios</p>
    </div>

</div>