    <h1 class="flex-centered title" style="font-family: 'Articulat CF-Bold';">About Us</h1>
    <header class="navbar" style="border-top: 2px solid #fff; border-bottom: 2px solid #fff">

        <section></section>

        <section class="center">
            <a class="btn btn-link" data-link="#history">Mission</a>
            <a class="btn btn-link" href="#history">History</a>
            <a class="btn btn-link" href="#staff">Staff</a>
            <a class="btn btn-link" href="#partners">Partners</a>
            <a class="btn btn-link" href="#board">Board</a>
        </section>

        <section></section>
        <script>
            function scrollview(this) {
                console.log(this);
                document.querySelector("h1").nextElementSibling.scrollIntoView({ behavior: 'smooth', block: 'start' });
            }
        </script>
    </header>
