<style>
    header>h1,
    h1,h2,h3,h4,h5,h6{
        font-family: "Articulat CF-Bold";
    }
    h2{
        font-size: 5rem;
    }
    h3{
        font-size: 4rem;
    }
    h4{ font-size: 3rem;}
    header>div>p,
    figcaption,
    p {
        font-family: "Articulat CF-Regular";
    }

    a {
        font-family: "Articulat CF-Bold";
    }
    .begin{
        padding-top: 0.8rem;
    }
    .excerpt{
        padding-top:2rem;
        padding-bottom: 3rem;
        text-align: center;
    }
</style>
<div class="grid">
<article class="begin {{post_class}}">
    <header class="single-header kg-canvas">
        {{#is "post"}}
            <div class="single-meta">
                <span class="single-meta-item single-meta-date">
                    <time datetime="{{date format="YYYY-MM-DD"}}">
                        {{date published_at}}
                    </time>
                </span>

                <span class="single-meta-item single-meta-length">
                    {{reading_time}}
                </span>

                {{#primary_tag}}
                    <span class="single-meta-item single-meta-tag">
                        <a class="post-tag post-tag-{{slug}}" href="{{url}}">{{name}}</a>
                    </span>
                {{/primary_tag}}
            </div>
        {{/is}}

        <h1 class="title flex-centered">{{title}}</h1>

        {{#if custom_excerpt}}
                <div class="flex-centered">
                    <p class="excerpt flex-centered">{{custom_excerpt}}</p>
                </div>
        {{/if}}

        {{#if feature_image}}
            {{#unless no_image}}
            <div class="grid {{width}}"
                <figure class="figure">
                    <img class="img-responsive img-{{img-width}}" srcset="{{> functions/srcset}}" sizes="(min-width: 1023px) 920px, calc(90vw)" src="{{img_url feature_image size="l"}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
                    {{#if feature_image_caption}}
                        <figcaption class="figure-caption">{{feature_image_caption}}</figcaption>
                    {{/if}}
                </figure>
            {{/unless}}
        {{/if}}
    </header>

    <div class="grid sm">
        {{content}}
    </div>

    {{#is "post"}}
        <footer class="single-footer container small">
            <div class="single-footer-left">
                {{#prev_post}}
                    <div class="navigation navigation-previous">
                        <a class="navigation-link" href="{{url}}" aria-label="Previous post">
                            <span class="navigation-icon">{{> icons/arrow-left}}</span>
                        </a>
                    </div>
                {{/prev_post}}
            </div>

            {{!--
            <div class="single-footer-middle">
                <div class="single-footer-top">
                    <h3 class="single-footer-title">Published by:</h3>
                    <div class="author-list">
                        {{#foreach authors}}
                            <div class="author-image-placeholder u-placeholder square">
                                <a href="{{url}}" title="{{name}}">
                                    <img class="author-image u-object-fit" src="{{img_url profile_image size="xs"}}" alt="{{name}}" loading="lazy">
                                </a>
                            </div>
                        {{/foreach}}
                    </div>
                </div>
                --}}
                {{!--
                <div class="single-footer-bottom">
                    <div class="share">
                        <a class="share-link share-link-facebook"
                            href="https://www.facebook.com/sharer.php?u={{url absolute="true"}}"
                            target="_blank" rel="noopener noreferrer">
                            {{> icons/facebook}}
                            Share
                        </a>
                        <a class="share-link share-link-twitter"
                            href="https://twitter.com/intent/tweet?url={{url absolute="true"}}&text={{encode title}}"
                            target="_blank" rel="noopener noreferrer">
                            {{> icons/twitter}}
                            Tweet
                        </a>
                    </div>
                </div>--}}
            </div>

            <div class="single-footer-right">
                {{#next_post}}
                    <div class="navigation navigation-next">
                        <a class="navigation-link" href="{{url}}" aria-label="Next post">
                            <span class="navigation-icon">{{> icons/arrow-right}}</span>
                        </a>
                    </div>
                {{/next_post}}
            </div>
        </footer>
    {{/is}}
</article>
</div>