{{#if feature_image}}
<div  class="card-image">
    <img id="f3-feature-img" class="img-fit-cover img-full-cover"
        srcset="{{> functions/srcset}}"
        sizes="(max-width: 1000px) 400px, 700px"
        src="{{img_url feature_image size="m"}}"
        alt="{{title}}" loading="lazy">
</div>
{{/if}}