<style>
    #footer-navbar{
        padding-top: 25vh;
        padding-bottom: 12vh;
    }
    #search-field{
        height: unset;
        text-align: center;
        border: 1px solid hsla(217, 50%, 95%, 0.8);
    }
    #search-submit{
        display: none;
    }
    #search-field,
    #footer-copyright{
        margin: auto;
    }
    #footer-primary-navigation{
        font-size: 2rem;
    }
    #footer-navbar-brand-link{
        margin: auto;
    }
</style>
<footer id="footer-navbar" class="navbar">
    <section class="navbar-section">
        <ul class="nav">
            {{#foreach navigation}}
                <li class="nav-item nav-item-{{slug}}{{#if current}} active{{/if}}">
                    <a id="footer-primary-navigation" href="{{url absolute="true"}}">{{label}}</a>
                </li>
            {{/foreach}}
        </ul>
    </section>
    <section class="navbar-section navbar-center">
        <div id="footer-copyright">
            {{@site.title}} © {{date format="YYYY"}}
        </div>
        {{!--  {{>searchform}} --}}
    </section>

  <section class="navbar-section">
    <a id="footer-navbar-brand-link" href="{{@site.url}}" class="navbar-brand">
        {{#if @site.logo}}
            <img src="{{@site.logo}}" alt="{{@site.title}}" />
        {{else}}
            {{@site.title}}
        {{/if}}
    </a>
  </section>
</footer>
{{!--
<footer class="site-footer container">
    <div class="footer-inner">
        <div class="footer-left">
            <div class="copyright">
                {{@site.title}} © {{date format="YYYY"}}
            </div>
        </div>

        <nav class="footer-nav">
            {{navigation type="secondary"}}
            <a class="menu-item badge" href="https://ghost.org/" target="_blank" rel="noopener noreferrer">Published with Ghost</a>
        </nav>

        <div class="footer-right">
            <div class="social">
                {{#if @site.facebook}}
                    <a class="social-item social-item-facebook"
                        href="{{facebook_url @site.facebook}}" target="_blank"
                        rel="noopener noreferrer" aria-label="Facebook">
                        {{> icons/facebook}}
                    </a>
                {{/if}}

                {{#if @site.twitter}}
                    <a class="social-item social-item-twitter"
                        href="{{twitter_url @site.twitter}}" target="_blank"
                        rel="noopener noreferrer" aria-label="Twitter">
                        {{> icons/twitter}}
                    </a>
                {{/if}}
            </div>
        </div>
    </div>
</footer>--}}