{{!--
    Where possible images will have srcset and sizes attributes to allow
    for smaller images to be served to devices with smaller screens.
    Full output will look similar to this:
--}}
<figure class="kg-card kg-image-card">
    <img src="{{url}}"
        class="kg-image"
        alt=""
        loading="lazy"
        width="2000"
        height="3000"
        srcset="{{img_url feature_image size="s"}} 320w,
                {{img_url feature_image size="s"}} 600w,
                {{img_url feature_image size="s"}} 1024w,
                {{img_url feature_image size="m"}} 1280w,
                {{img_url feature_image size="l"}} 1920w,
                {{img_url feature_image size="xl"}} 2560w"
        sizes="(min-width: 720px) 720px">
</figure>


        {{#if feature_image}}
            {{#unless no_image}}
            <div class="grid {{width}}">
                <figure class="figure">
                    <img class="img-responsive img-{{img-width}}" srcset="{{> functions/srcset}}" sizes="(min-width: 1023px) 920px, calc(90vw)" src="{{img_url feature_image size="l"}}" alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}">
                    {{#if feature_image_caption}}
                        <figcaption class="figure-caption">{{feature_image_caption}}</figcaption>
                    {{/if}}
                </figure>
            {{/unless}}
        {{/if}}