<div class="gh-page">
    <div class="gh-container">

        <div class="gh-postfeed">
            {{#foreach posts}}

                {{> "card"}} {{!-- partials/card.hbs --}}

            {{/foreach}}
        </div>
    </div>
</div>
