<ul class="nav">
{{#if isSecondary}}
    {{#foreach navigation}}
        <li class="nav-item nav-item-{{slug}}{{#if current}} active{{/if}}">
            <a href="{{url absolute="true"}}">{{label}}</a>
        </li>
    {{/foreach}}
{{else}}
    {{#foreach navigation}}
        <li class="nav-item nav-item-{{slug}}{{#if current}} active{{/if}}">
            <a href="{{url absolute="true"}}">{{label}}</a>
        </li>
    {{/foreach}}
{{/if}}
</ul>