{{!< default}}
<form>
<input id="search-field" />
<input type="submit" value="search">
<input type="button" value="clear" onclick="clearResults();" />
</form>

<hr />

<section id="search-results"></section>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="../jquery.ghostHunter.js"></script>

<script>

var searchField = $("#search-field").ghostHunter({
                    results     : "#search-results",
                    rss         : "rss.xml",
                    //Enable the "search as you type" by uncommenting the following line
                    //onKeyUp   : true
                    });

function clearResults() {
    searchField.clear();
}

</script>
