        <form>
            <div class="popover popover-top">
            <div class="form-group input-group input-inline">
                <input id="search-field" class="form-input" type="text" placeholder="search" required>
                    <input id="search-submit" type="submit" class="btn btn-primary" value="search" />
                <div class="popover-container">
                    <div class="card">
                        <div class="card-body">
                            <section id="search-results"></section>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </form>