{{#if tags}}
    {{#foreach tags}}
    <div id="f3-card-header" sclass="card-header">
        <span id="f3-card-tags" class="">
            {{name}}
        </span>
    </div>
    {{/foreach}}
{{/if}}
