<style>
    #talent-header-h1{
        font-family: 'Articulat CF-Bold';
    }
</style>
<h1 id="talent-header-h1" class="flex-centered title">Talents</h1>
<header class="navbar">
    <section></section>
    <section class="center">
        <p class="mono upper text-small center">Collaborate with the skilled artists of your area.</p>
    </section>
    <section></section>
    <script>
        function scrollview(this){
            console.log(this);
            document.querySelector("h1").nextElementSibling.scrollIntoView({behavior: 'smooth', block: 'start'});
        }
    </script>
</header>