{{!< ../default}}

<article class="grid {{post_class}}">
    {{> venues/header}}

<div class="row mtr">
    <div class="col-4 col-ml-auto">
        <figure class="figure">
            <img class="img-fit-contain img-responsive" src="{{asset '/images/mask-group-14@1x.jpg'}}" />
            <figcaption class="figure-caption">
            </figcaption>
        </figure>

    </div>

    <div class="col-6 col-mr-auto">
        <div class="card">
            <div class="card-header">
                <h2>Panncentralen</h2>
                <p>Total Space<span class="float-right">1000m2</span></p>
            </div>
            <div class="card-body">
                <p>Panncentralen is the venue</p>
            </div>
            <div class="card-footer">
                <p>Maximum Capacity <span class="float-right">1500</span></p>
                <p class="upper mono">All bookings of the event spaces are done through mail.
                <br>Contact us in order to get a quote.</p>
                <a href="mailto:event@varmeverket.com">event@varmeverket.com</a><span class="float-right"><a href="tel:+4670-0000000">+4670-0000000</a></span>
            </div>
        </div>
    </div>
</div>


</div>