<style>
  #f3-row {padding-top: 6.75vh;}
  #f3-h2-title {text-transform: uppercase;}
  #f3-h2-title-m { font-family: "Articulat CF-ExtraLight";}
  #f3-h2-title-m { font-family: "Articulat CF-Bold";}
  #f3-a-events {
    font-size: 3.0rem;
    padding-bottom:0.3rem;
    }
</style>

<div id="f3" class="grid lg">
  <div class="row oneline">
    <div class="col-1"></div>
    <div class="col-mr-auto">
        <h2 id="f3-h2-title" class="r5">
          <span class="f3-recent-h">Happenings</span><br>{{!--<span id="f3-h2-title-m">Happenings</span>--}}
        </h2>
    </div>
  </div>
  {{> index/frame-3/loop}}
</div>
