{{!< default}}
{{#author}}
<script>window.location = '{{@site.url}}';</script>

<style>
    .avatr{
        height:10rem;
        width:auto;
    }
    .staff-header{
        border-bottom:1px solid #fff;
        padding-bottom:1rem;
    }
    #author-row-2{
        padding-top: 3rem;
        /*border-top: 1px solid #eee;*/
    }
</style>
<header class="grid lg">
    <div class="row">
        <div class="col-12 col-mx-auto">
            <h1 class="staff-header flex-centered">Staff</h1>
        </div>
    </div>
</header>
<header class="grid md">
    <div id="author-row-2" class="row">
        <div class="card col-4 col-mx-auto">
            <div class="card-image flex-centered">
                <figure class="avatar avatr" data-initial="VS" style="background-color: #d97f55;">
                    {{#if profile_image}}
                        <img src="{{profile_image}}" class="avatar avatr" alt="{{name}}">
                    {{/if}}
                </figure>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-2 col-ml-auto card-body text-large">Name</div>
        <div class="col-mr-auto card-body text-large">
            <span style="text-align: center;">
                {{name}}
            </span>
        </div>
    </div>
    </div>
    <div class="row"></div>
            <div class="author-header-content">
                <h1 class="site-title">{{name}}</h1>
                {{#if bio}}
                    <h2 class="author-bio">{{bio}}</h2>
                {{/if}}
                <div class="author-meta">
                    {{#if location}}
                        <div class="author-location">{{location}}</div>
                    {{/if}}
                    <div class="author-stats">
                        {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}}
                    </div>
                    {{#if website}}
                        <span class="author-social-link"><a href="{{website}}" target="_blank" rel="noopener">Website</a></span>
                    {{/if}}
                    {{#if twitter}}
                        <span class="author-social-link"><a href="{{twitter_url}}" target="_blank" rel="noopener">Twitter</a></span>
                    {{/if}}
                    {{#if facebook}}
                        <span class="author-social-link"><a href="{{facebook_url}}" target="_blank" rel="noopener">Facebook</a></span>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</header>
{{/author}}
<main id="site-main" class="site-main outer">
    <div class="inner posts">
        <div class="post-feed">
            {{#foreach posts}}
                {{> "card"}}
            {{/foreach}}
        </div>
    </div>
</main>