{{!< default}}
{{#post}}
<style>

    hr{
        padding-bottom:8rem;
        border-left: unset;
        border-bottom: unset;
        border-right: unset;
    }
    header>h1,
    h1,h2,h3,h4,h5,h6{
        font-family: "Articulat CF-Light";
    }
    h2,h3,h4,h5,h6{
        padding-top: 6rem;
        font-family: "Articulat CF-Light";
    }
    .kg-image,
    .kg-card{
        padding-top: 5rem;
    }
    h2{
        font-size: 3rem;
        font-family: "Articulat CF-Light";
        text-align: center;
    }
    h3{
        font-size: 4rem;
    }
    h4{ font-size: 3rem;}
    header>div>p,
    figcaption,
    p {
        font-family: "Articulat CF-Regular";
    }

    a {
        color: hsl(24, 95%, 60%);
        font-family: "Articulat CF-Bold";
    }
    .begin{
        padding-top: 0.8rem;
    }
    .excerpt{
        padding-top:2rem;
        padding-bottom: 3rem;
        text-align: center;
    }
    .kg-gallery-card{
        width: 50vw;
    }
    .card .card-image:first-child img {
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }
    #fig-xxxl,
    #ava-xxxl {
        height: 7.2rem;
        width: 7.2rem;
    }
</style>
<article class="grid {{post_class}}">

    <h1 class="flex-centered title bb1" style="font-family: 'Articulat CF-Bold';">About Us</h1>
    <header class="navbar" style="border-top: 2px solid #fff; border-bottom: 2px solid #fff">

        <section></section>

        <section class="center">
            <a class="btn btn-link" data-link="#our-mission">Mission</a>
            <a class="btn btn-link" href="#history">History</a>
            <a class="btn btn-link" href="#staff">Staff</a>
        </section>

        <section></section>
        <script>
            function scrollview(this) {
                console.log(this);
                document.querySelector("h1").nextElementSibling.scrollIntoView({ behavior: 'smooth', block: 'start' });
            }
        </script>
    </header>
    <header class="header canvas">

        <h1 class="flex-centered title" style="color: #fd7b2f">{{title}}</h1>
        {{#if custom_excerpt}}
                        <div class="col-5 col-xl-6 col-lg-7 col-md-9 col-sm-11 col-xs-12 col-mx-auto">
                    <p class="mono excerpt flex-centered">{{custom_excerpt}}</p>
                </div>
        {{/if}}

        {{#if feature_image}}
        <figure class="feature-image">
            <img srcset="{{>content/srcset}}" sizes="(max-width: 1000px) 1000px, 2000px" loading="lazy"
                src="{{img_url feature_image size=" xl"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
            {{#if feature_image_caption}}
            <figcaption>{{feature_image_caption}}</figcaption>
            {{/if}}
        </figure>
        {{/if}}
    </header>

    <div class="grid">
        <div class="row">
            <div class="col-4 col-xl-5 col-lg-7 col-md-9 col-sm-11 col-xs-12 col-mx-auto">
                {{content}}
            </div>
        </div>
    </div>

    <div class="grid lg">           {{!-- STAFF section--}}
        <div class="row oneline">
            <div class="col-mx-auto">
                <h2 id="staff" class="upper">Staff</h2>
            </div>
        </div>
    </div>
    <div class="grid md">
        <div class="row mgs">
            {{#foreach authors}}
            <div class="card col-4 col-mx-auto" style="margin-top:3.5rem;">
                <div class="card-image flex-centered">
                    <figure id="fig-xxxl" class="avatar avatar-xl" data-initial="" style="background-color: #d97f55;">
                        {{#if profile_image}}
                            <img id="ava-xxxl" src="{{profile_image}}" class="avatar avatar-xl" alt="{{name}}">
                        {{/if}}
                    </figure>
                </div>
                <div class="card-body flex-centered">
                    <a class="btn btn-link" href="{{url}}">{{name}}</a>
                </div>
            </div>
            {{/foreach}}
        </div>
    </div>
        </div>
    </div>
</article>
{{/post}}
