{{!< default}}
{{#post}}
<style>
  .footer-top{
      margin-top: 5rem;
  }
  #fact{
    height: 100vh;
    background-color: #535353;
    background-image: url('{{img_url feature_image size=xl}}');
    background-repeat:no-repeat;
    background-size: cover;
    background-position-y: center;
    background-blend-mode: multiply;
    /*background-image: url('/assets/images/giphy-4.gif');*/
    /*background-repeat:no-repeat;*/
    /*background-size: cover;*/
    /*background-position-y: center;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: flex;*/
    margin:auto;
  }
  #fact-row-one{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #fact-row-two{
    height: 5vh;
  }
  #fact-column{
    margin-top: auto;
  }
  #fact-header{
    font-family: "Articulat CF-ExtraLight";
    margin: unset;
    text-align: center;
    text-transform:uppercase;
  }
  #fact-excerpt{
    font-size: 2.0rem;
    font-family: "Articulat CF-Regular";
  }
  .fact-header{
      font-family: "Articulat CF-Bold";
  }
  .fact-title{
    font-family: "Articulat CF-Regular";
  }
  .bb1{
      border-bottom: 1px solid hsla(0, 0%, 100%, 0.9);
  }
  .bb10 {
      border-bottom: 10px solid hsla(0, 0%, 100%, 0.9);
  }
  table{
      width: 100%;
      border-bottom: 1px solid hsla(0, 0%, 100%, 0.9);
  }
  thead {
   border-bottom: 1px solid hsla(0, 0%, 100%, 0.9);
  }
  tr{
      border-bottom: 1px solid hsla(0, 0%, 100%, 0.9);
  }
  th, td {
      padding-left: 2rem;
      text-align:left;
      float: left;
  }
  th:first-child {
      padding-left: unset;
      text-align: left;
      float: left;
  }
  th:last-child{
      float: unset;
      text-align: right;
  }
  td:first-child {
      padding-left: unset;
      font-family: "Articulat CF-Bold";
      padding-right: 1rem;
      text-align: left;
      float: left;
  }
  td:last-child{
      float: unset;
      text-align: right;
  }

</style>
<div id="fact" class="grid">
    <div  class="grid md">

    <div  class="row">
        <div class="col-12">
            <p class="fact-title bb1">Lit-ritional facts</p>
        </div>
    </div>
    <div class="row bb1">
        <div class="col-mr-auto ">
            <p class="fact-header">{{title}}</p>
        </div>
    </div>
    <div class="row bb1">
        <div class="col-mr-auto ">Date: </div>
        <div class="col-ml-auto ">
            <p class="fact-title">
                <time datetime="{{date format="YYYY-MM-DD"}}">
                        {{date published_at}}
                </time>
            </p>
        </div>
    </div>
    <div class="row bb10">

            <div class="col-ml-auto">
                <p class=float-right>
                    {{#if custom_excerpt}}
                        <p class="">{{custom_excerpt}}</p>
                    {{/if}}
                </p>
            </div>
            <div class="col-12 col-ml-auto bb1">
                <p class="float-left">
                </p>
            </div>
        </div>
        {{content}}
        </div>
    </div>
{{!--<time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>--}}
    <footer class="footer canvas footer-top">

        <div class="flex-centered post-authors">
            {{#foreach authors}}
            <a href="{{url}}">

                <span class="chip">
                    {{#if profile_image}}
                        <img src="{{profile_image}}" class="avatar avatar-xl">
                    {{/if}}
                    {{name}}
                    <a href="{{url}}"></a>
                </span>
            {{/foreach}}
            </a>
        </div>
        {{!--
        <section class="post-comments">
            If you want to embed comments, this is a good place to do it!
        </section>
        --}}
    </footer>
</article>

<aside class="readmore">
    <div class="readmore-inner container">
        <div class="readmore-next">
            {{#next_post}}
                <a href="{{url}}">
                    {{> "icons/arrow-left"}}<h4>{{title}}</h4></a>
            {{/next_post}}
        </div>
        <div class="readmore-prev">
            {{#prev_post}}<a href="{{url}}">
                <h4>{{title}}</h4> {{> "icons/arrow-right"}}
            </a>{{/prev_post}}
        </div>
    </div>
</aside>
{{/post}}