{{!< default}}

{{#if @member.paid}}
    <script>window.location = '{{@site.url}}';</script>

{{else}}
    <div class="grid md">
        <form class="signup-form" data-members-form="signup">
            <h1 class="">Join the Community</h1>
                <div class="form-group">
                    <input data-members-email type="email" placeholder="Type your email..." required="true" autocomplete="false" />
                </div>
                <div class="form-group">
                    <button class="btn btn-secondary" type="submit">
                        <span class="btn-content">Continue</span>
                        <span class="btn-loader">{{> "icons/loader"}}</span>
                    </button>
                </div>
            <p><small>Already have an account? <a href="{{@site.url}}/signin/">Sign in</a></small></p>
            <div class="message-success"><strong>Great!</strong> Check your inbox and click the link to confirm your subscription</div>
            <div class="message-error">Please enter a valid email address!</div>
        </form>
            <p>{{@site.description}}</p>
    </div>
{{/if}}