<!DOCTYPE html>
<html lang="{{@site.locale}}">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{asset "built/screen.css"}}" />
        <title>{{meta_title}}</title>
        <script src="{{asset '/js/anime.min.js'}}"></script>
        <script src="{{asset '/js/feather.js'}}"></script>
        {{ghost_head}}
    </head>

    <body class="grid {{body_class}}">

        {{> header/flexheader}}
            <main class="grid">{{{body}}}</main>
        {{>header/modal}}
        {{>footer}}

        <script>feather.replace()</script>
        <script src="{{asset "built/jquery-3.4.1.min.js"}}"></script>

        {{#if pagination.pages}}
            <script>var maxPages = parseInt('{{pagination.pages}}');</script>
            <script src="{{asset "built/infinitescroll.js"}}"></script>
        {{/if}}

        {{#is "post, page"}}
            <script src="{{asset "built/jquery.fitvids.js"}}"></script>
            <script>
                var images = document.querySelectorAll('.kg-gallery-image img');
                    images.forEach(function (image) {
                    var container = image.closest('.kg-gallery-image');
                    var width = image.attributes.width.value;
                    var height = image.attributes.height.value;
                    var ratio = width / height;
                    container.style.flex = ratio + ' 1 0%';
                    });

                $(document).ready(function () {
                    var $postContent = $(".gh-content");
                    $postContent.fitVids();
                    });
            </script>
        {{/is}}
        <script type="text/javascript" src="{{asset "ghostHunter/dist/jquery.ghosthunter.js"}}"></script>
        <script>
            var searchField = $("#search-field").ghostHunter({
                                results     : "#search-results",
                                rss         : "rss.xml",
                                //Enable the "search as you type" by uncommenting the following line
                                onKeyUp   : true
                                });
            //function clearResults() {
            //    searchField.clear();
            //}
        </script>
        {{ghost_foot}}

    </body>
</html>
