{{!< default}}
{{> events/header}}
<style>
  #f3-article-card{
    border-top: 1px, solid #222;
    margin-left: unset;
    margin-right: unset;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  #f3-chip-author{
    margin-right: 0.8rem;
  }
  #f3-feature-img {
    height: 35vh;
    width: 96%;
    object-position: top;
    object-fit: cover;
  }
  #f3-card-tags{
    font-family: "VCR OSD Mono-Regular";
    text-transform: uppercase;
    font-size: 1.5rem;
    margin:0.5rem;
  }
  #f3-author{
    margin-left: 0.5rem;
    padding-top: 0.2rem;
  }
  #f3-excerpt{
    font-size: 2.0rem;
    font-family: "Articulat CF-Regular";
  }
  #f3-title{
    font-family: "Articulat CF-Bold";
  }
  #f3-card-header{
    margin: unset
  }
  a:hover{
    text-decoration-line: none;
  }
</style>
<div class="grid lg">

<div class="row">
{{#get "posts" include="tags,authors" filter="tag:hash-happenings" limit=9 as |happenings|}}
    {{#foreach happenings}}
      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 col-4 col-mx-auto">
          <article id="f3-article-card" class="card {{post_class}} f3 image-hover-highlight">
              {{#if feature_image}}
              <a class="u-permalink" href={{url}} aria-label="{{title}}">
                  <div  class="card-image">
                      <img id="f3-feature-img" class="img-responsive"
                          srcset="{{> functions/srcset}}"
                          sizes="(max-width: 1000px) 400px, 700px"
                          src="{{img_url feature_image size="m"}}"
                          alt="{{title}}" loading="lazy">
                    </div>
                    </a>
              {{/if}}
              <a class="u-permalink" href={{url}} aria-label="{{title}}">

              <div class="card-header">
                <h2 id="f3-title" class="card-title f3">
                  {{title}}
                </h2>
              </div>
              <div class="card-header">
              {{#if custom_excerpt}}
                <p id="f3-excerpt" class="card-subtitle f3">{{{custom_excerpt}}}</p>
              {{/if}}
              </div>
              </a>
              {{!--
              <div class="card-footer">
                {{#foreach authors}}
                    <a class="u-permalink" href={{url}} aria-label="{{name}}">
                      <div id="f3-chip-author" class="chip">
                              <img src="{{profile_image}}" class="avatar">
                        {{name}}
                      </div>
                    </a>
                {{/foreach}}
              </div>
              --}}
          </article>

      </div>
    {{/foreach}}
{{/get}}
</div>
</div>
