{{!< default}}

<article class="grid {{post_class}}">
    {{> events/header}}

<div class="row">
    <div class="col-5 col-mx-auto">
        <p class="mono upper text-small center">Choose one of our venues to book an event these are the two venues to choose from</p>
    </div>
</div>

<div class="row">
    <div class="col-5 col-mx-auto">
        <a href="/events/underverket/">
            <article class="card image-hover-highlight events-bg-img underverket art-height">
                <div class="card-header">
                    {{!--<h2 class="card-title">Choose</h2>--}}
                </div>
            </article>
        </a>

        <figure class="figure">
            <a href="/events/underverket/">
                <figcaption class="figure-caption">Underverket</figcaption>
            </a>
        </figure>
    </div>

    <div class="col-5 col-mx-auto">
        <a href="/events/panncentralen/">
            <article class="card image-hover-highlight events-bg-img panncentralen">
                <div class="card-header">
                    {{!-- <h2 class="card-title">Choose</h2> --}}
                </div>
            </article>
        </a>
        <figure class="figure">
            <a href="/events/panncentralen/">
                <figcaption class="figure-caption">Panncentralen</figcaption>
            </a>
        </figure>
    </div>
</div>

