{{!< default}}
{{#post}}
<style>
    header>h1,
    h1,h2,h3,h4,h5,h6{
        font-family: "Articulat CF-Bold";
    }
    h2{
        font-size: 5rem;
        font-family: "Articulat CF-Light";
    }
    h3{
        font-size: 4rem;
    }
    h4{ font-size: 3rem;}
    header>div>p,
    figcaption,
    p {
        font-family: "Articulat CF-Regular";
    }
    a {
        font-family: "Articulat CF-Bold";
    }
    .begin{
        padding-top: 0.8rem;
    }
    .excerpt{
        padding-top:2rem;
        padding-bottom: 3rem;
        text-align: center;
    }
</style>
<div class="grid">
    <article class="article begin {{post_class}}">
        <header class="header">
            <h1 class="title flex-centered">{{title}}</h1>
        {{!--<span class="post-meta"><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time> <span class="bull">&bull;</span> {{reading_time}}</span>--}}
                {{#foreach tags}}
                    <span class="single-meta-item single-meta-tag">
                        <a class="post-tag post-tag-{{slug}}" href="{{url}}">{{name}}</a>
                    </span>
                {{/foreach}}
            {{#if custom_excerpt}}
                <div class="col-5 col-xl-6 col-lg-7 col-md-9 col-sm-11 col-xs-12 col-mx-auto">
                    <p class="mono excerpt flex-centered">{{custom_excerpt}}</p>
                </div>
            {{/if}}

            {{#if feature_image}}
            <figure class="figure flex-centered">
                <img srcset="{{> functions/srcset}}"
                    class="img-responsive img-fit-cover"
                    sizes="(max-width: 1000px) 400px, 700px"
                    loading="lazy"
                    src="{{img_url feature_image size="xl"}}"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                />
                {{#if feature_image_caption}}
                    <figcaption class="figure-caption">{{feature_image_caption}}</figcaption>
                {{/if}}
            </figure>
            {{/if}}
        </header>

    <div class="grid">
        <div class="row">
            <div class="col-4 col-xl-5 col-lg-7 col-md-9 col-sm-11 col-xs-12 col-mx-auto">
                {{content}}
            </div>
        </div>
    </di>
    <script>
        document.getElementById("user-label").dataset.membersLabel = '{{slug}}';
    </script>

        <footer class="footer canvas">

            <div class="flex-centered post-authors">
                {{#foreach authors}}
                <a href="{{url}}">

                    <span class="chip">
                        {{#if profile_image}}
                            <img src="{{profile_image}}" class="avatar avatar-xl">
                        {{/if}}
                        {{name}}
                        <a href="{{url}}"></a>
                    </span>
                {{/foreach}}
                </a>
            </div>
            {{!--
            <section class="post-comments">
                If you want to embed comments, this is a good place to do it!
            </section>
            --}}
        </footer>
    </article>

    {{> aside-readmore}}
{{/post}}
</div>
