{{!< default}}

<div class="grid">
    <div class="row">
        {{#tag}}
        <header class="gh-page-head">
            <h1>{{name}}</h1>
            <p>
                {{#if description}}
                    {{description}}
                {{else}}
                    A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
                {{/if}}
            </p>
            {{#if feature_image}}
                <img class="gh-page-image" src="{{feature_image}}" alt="{{name}}" />
            {{/if}}
        </header>
        {{/tag}}
    </div>
    <div class="row">
        <div class="gh-postfeed">
        {{#foreach posts}}

            {{> "card"}} {{!-- partials/card.hbs --}}

        {{/foreach}}
        </div>

    </div>
</div>
