<style>

  #f1{
    /*height: calc(-96px + 100vh);*/
    height: calc(100vh);
    background-image: url('/assets/images/giphy-4.gif');
    background-repeat:no-repeat;
    background-size: cover;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:unset;
  }
  #f1-row-one{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #f1-row-two{
    height: 5vh;
  }
  #index-f1-column{
    margin-top: auto;
  }
  #index-f1-header{
    font-family: "Articulat CF-ExtraLight";
    margin: unset;
    text-align: center;
    text-transform:uppercase;
  }
  #f1-h1-title-b { font-family: "Articulat CF-Bold";}
  #index-f1-btn-layout{
    display: flex;
    flex-direction: column;
    flex-shrink: unset;
    margin-top: auto;
    margin-bottom: 94px;
  }
</style>
<div id="f1" class="grid">
    <div id="index-f1-column" class="col-12">
        <h1 id="index-f1-header" class="r5 show-xs hide-sm">THIS IS <span id="f1-h1-title-b">VÄRMEVERKET</span></h1>
        <h1 id="index-f1-header" class="r6 hide-xs show-sm hide-md">THIS IS <span id="f1-h1-title-b">VÄRMEVERKET</span></h1>
        <h1 id="index-f1-header" class="r7 hide-xs hide-sm show-md hide-lg">THIS IS <span id="f1-h1-title-b">VÄRMEVERKET</span></h1>
        <h1 id="index-f1-header" class="r8 hide-xs hide-sm hide-md show-lg hide-xl">THIS IS <span id="f1-h1-title-b">VÄRMEVERKET</span></h1>
        <h1 id="index-f1-header" class="r10 hide-lg show-xl">THIS IS <span id="f1-h1-title-b">VÄRMEVERKET</span></h1>
        <h1 id="index-f1-header" class="r11 hide-xl">THIS IS <span id="f1-h1-title-b">VÄRMEVERKET</span></h1>
    </div>
    <div id="index-f1-btn-layout">
        <button class="btn btn-link"
              onClick="(function(e){
                document.getElementById('f2').scrollIntoView({behavior: 'smooth', block: 'start'});
                return false;
                })(arguments[0]);
                return false;"
        >
          <i data-feather="chevrons-down"></i>
        </button>
    </div>
</div>
