// Base
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: $html-font-size;
  line-height: $html-line-height;
  -webkit-tap-highlight-color: transparent;
  background: $bg;
}

body {
  background: $bg-color;
  color: $primary-color;
  font-family: $primary-color;
  font-size: $font-size;
  overflow-x: hidden;
  text-rendering: geometricPrecision;
}

a {
  color: $link-color;
  outline: none;
  text-decoration: none;

  &:focus {
    @include control-shadow();
  }

  &:focus,
  &:hover {
    color: $primary-color;/*$link-color-dark;*/
    text-decoration:none;
    -webkit-transition: all 0.125s;
    transition: all 0.125s;
  }
  &:active,
  &.active {
    color: $link-color-dark;
    text-decoration:none;
  }

  &:visited {
    color: $link-color-light;
  }
}