.burger {
    position: relative;
    display: block;
    margin-right: -7px;
    margin-left: 5px;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.burger-bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
}

.burger-bar::before {
    content: "";
    position: absolute;
    left: 7px;
    width: 1.6rem;
    height: 2px;
    background-color: hsl(0, 0%, 0%);
    transition: transform 0.1596s cubic-bezier(0.52, 0.16, 0.52, 0.84) 0.1008s;
}

.with-full-cover .burger-bar::before,
.with-alt-header .burger-bar::before {
    background-color: hsl(0, 0%, 0%);
}

.burger-bar:first-child::before {
    top: 14px;
    transform: translateY(-3px);
}

.burger-bar:last-child::before {
    bottom: 14px;
    transform: translateY(3px);
}

.modal[active] .burger .burger-bar {
    transition: transform 0.3192s cubic-bezier(0.04, 0.04, 0.12, 0.96) 0.1008s;
}

.modal[active] .burger .burger-bar:first-child {
    transform: rotate(45deg);
}

.modal[active] .burger .burger-bar:last-child {
    transform: rotate(-45deg);
}

.modal[active] .burger .burger-bar::before {
    transition: transform 0.1806s cubic-bezier(0.04, 0.04, 0.12, 0.96);
    transform: none;
}

/*
@media (max-width: 991px) {
    .burger {
        display: block;
    }
}
*/