// Chips
.chip {
  align-items: center;
  background: $bg-lit;
  border-radius: 5rem;
  border-color: $primary-color-dark;
  display: inline-flex;
  font-size: 90%;
  font-family: $font-sans-serif;
  /*height: $unit-6;*/
  line-height: $unit-4;
  margin: $unit-h;
  max-width: $control-width-sm;
  overflow: hidden;
  padding: $unit-1 $unit-2;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;

  &.active {
    background: $bg;
    color: $gray-color;
  }
  &:focus {
    @include control-shadow();
  }

  &:focus,
  &:hover {
    background: $bg-dark;
    border-color: $primary;
    text-decoration: dashed;
  }
  .avatar {
    margin-left: -$unit-2;
    margin-right: $unit-1;
  }

  .btn-clear {
    border-radius: 50%;
    transform: scale(.75);
  }
}
