.discipline,
.index-type {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        text-transform: uppercase;
        margin-bottom: 0;
        margin-top: 1rem;
    }

    &>li {
        text-decoration: none;
        list-style: none;
        margin-bottom: 0;
        font-size: 4.5rem;
        line-height: 4rem;
    }
}

.f3-h1 {
    padding-left: 1.0rem;
}

.f3-recent-h {
    font-family: "Articulat CF-ExtraLight";
}
.mtr {
    margin-top: 1rem;
}

.mbr {
    margin-bottom: 1rem;
}

.mlr {
    margin-left: 1rem;
}

.mrr {
    margin-right: 1rem;
}

.img-brightness {
    background-color: $accent;
    display: inline-block;
}

.img-brightness a:hover article:hover img:hover {
    opacity: .7;

}

.image-hover-highlight {
    -webkit-transition: all 0.33s;
    transition: all 0.33s;

    &:hover {
        /*border: 1px solid gray;*/
        filter: brightness(126%);
        -webkit-filter: brightness(130%);
        -moz-filter: brightness(130%);
        -o-filter: brightness(130%);
        -ms-filter: brightness(130%);
        -webkit-transition: all 0.50s;
        transition: all 0.40s;
    }
}

.mono {
    font-family: "VCR OSD Mono-Regular";
}

.header-button {
    height: 3rem;
    width: 3rem;

    &>i {
        font-size: 2rem;
        height: 1.2rem;
        width: 2rem;
        margin-top: .45rem;
    }
}

h1,
h2 {
    &.r11 {
        font-size: 11rem;
    }
    &.r10 {
        font-size: 10rem;
    }
    &.r9 {
        font-size: 9rem;
    }
    &.r8 {
        font-size: 8rem;
    }

    &.r7 {
        font-size: 7rem;
    }
    &.r6 {
        font-size: 6rem;
    }

    &.r5 {
        font-size: 5rem;
    }
}

h2 {

    &.f3,
    &.r25 {
        font-size: 2.5rem;
    }
}

a,
p,
span {

    &.f3,
    &.r25 {
        font-size: 2.5rem;
    }
}

article {
    &.f3 {
        margin: 1rem;
    }
}

ul,
li {
    &.discipline {
        line-height: 2.5rem;
    }
}

.events {
    &.header {
        border-top: 2px solid rgba(247, 247, 247, 0.815);
        border-bottom: 2px solid rgba(247, 247, 247, 0.863);
        margin-bottom: 2rem;
    }
    &.art-height{
        height: 50vh;
    }
}

.events-bg-img {
    min-height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &.underverket {
        background-image: url("/assets/images/image@1x.jpg");
    }

    &.panncentralen {
        background-image: url("/assets/images/mask-group-14@1x.jpg");
    }
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
  }