@font-face {
    font-family: "Articulat CF-Bold";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/fonts/ArticulatCF-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Articulat CF-Medium";
    font-style: normal;
    font-weight: 500;
    src: url("/assets/fonts/ArticulatCF-Medium.otf") format("opentype");
}

@font-face {
    font-family: "VCR OSD Mono-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/VCR_OSD_MONO.ttf") format("truetype");
}

@font-face {
    font-family: "Articulat CF-Light";
    font-style: normal;
    font-weight: 300;
    src: url("/assets/fonts/ArticulatCF-Light.otf") format("opentype");
}

@font-face {
    font-family: "Articulat CF-ExtraLight";
    font-style: normal;
    font-weight: 200;
    src: url("/assets/fonts/ArticulatCF-ExtraLight.otf") format("opentype");
}

@font-face {
    font-family: "Articulat CF-ExtraBold";
    font-style: normal;
    font-weight: 800;
    src: url("/assets/fonts/ArticulatCF-ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: "Articulat CF-Regular";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/fonts/ArticulatCF-Regular.otf") format("opentype");
}