// Modals
.modal {
  align-items: center;
  bottom: 0;
  display: none;
  justify-content: center;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: $layout-spacing;
  position: fixed;
  right: 0;
  top: 0;

  &:target,
  &.active {
    display: flex;
    opacity: 1;
    z-index: $zindex-4;

    .modal-overlay {
      background: rgba(#000, 0.77);
      bottom: 0;
      cursor: default;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    .modal-container {
      animation: slide-down .2s ease 1;
      z-index: $zindex-0;
    }
  }

  &.modal-sm {
    .modal-container {
      max-width: $control-width-sm;
      padding: 0 $unit-2;
    }
  }

  &.modal-lg {
    .modal-overlay {
      background: $bg-dark;
    }

    .modal-container {
      box-shadow: none;
      max-width: $control-width-lg;
    }
  }
}

.modal-container {
  /*@include shadow-variant(.2rem);*/
  /*border: 1px solid $primary-color;*/
  background: $bg-dark;
  border-radius: $border-radius;
  border-left-style: none;
  display: flex;
  flex-direction: column;
  max-height: 75vh;
  max-width: $control-width-md;
  /*padding: $unit-4 0.5rem;*/
  width: max-content;
  margin-left: auto;
  margin-bottom: auto;
  margin-top: 1rem;
  margin-right: 0.8rem;

  &.modal-fullheight {
    max-height: 100vh;
  }

  .modal-header {
    color: $dark-color;
    padding: $unit-4;
    border: 1px solid $primary-color;

    &>.btn {
      font-size: 2.5rem;
      margin-top: 0.8rem;
      margin-right: 1rem;
      margin-bottom: 0.8rem;
    }
  }

  .modal-body {
    border: 1px solid $primary-color;
    background-color: $bg-color;
    overflow-y:visible;
    padding: $unit-4;
    position: relative;
    /*width: 150px;*/
    max-width: 100%;

    &>.nav {
      font-size: 3.5rem;
    }
  }

  .modal-footer {
    border: 1px solid $primary-color;
    padding: $unit-4;
    text-align: left;
    background-color: black;
  }
}

.modal-toggle {
  display: block;
  position: absolute;
  top: $layout-spacing;
  transition: none;
  z-index: $zindex-0;

  @if $rtl==true {
    right: $layout-spacing;
  }

  @else {
    left: $layout-spacing;
  }
}