// Navbar
.navbar {
  align-items: stretch;
  background-color: #0000;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0.8rem;

  section {
    align-items: center;
    display: flex;
    flex: 1 0 0;
    background-color: #0000 !important;

    &:not(:first-child):last-child {
      justify-content: flex-end;
    }
  }

  .center {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
  }

  .brand {
    font-size: $font-size-lg;
    text-decoration: none;
  }

  img {
    max-height: 70px;
  }
}
