// Navs
.nav {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: $unit-1 0;

  .nav-item {
    a {
      color: #ddd;
      padding: $unit-1 $unit-2;
      text-decoration: none;
      &:focus,
      &:hover {
        color: $accent;
      }
    }
    &.active {
      & > a {

        color: lighten($accent, 10%);
        &:focus,
        &:hover {
          color: $accent;
        }
      }
    }
  }

  & .nav {
    margin-bottom: $unit-2;
    margin-left: $unit-4;
  }
}
