/* Read More
/* ---------------------------------------------------------- */

.readmore {
    padding: 8vmin 4vw;
    font-size: 2.6rem;
}

.readmore-inner {
    display: grid;
    grid-gap: 8vmin;
    grid-template-columns: 1fr 1fr;
}

.readmore-prev {
    justify-content: flex-end;
    text-align: right;
}

.readmore a {
    display: flex;
    color: currentColor;
    text-decoration: none;
}

.readmore h4 {
    width: 100%;
    font-size: inherit;
}

.readmore svg {
    display: inline-block;
    vertical-align: middle;
    height: 1em;
    margin: 0.15em 0 0;
}

.readmore svg + h4,
.readmore h4 + svg {
    margin-left: 2vmin;
}

@media (max-width: 700px) {
    .readmore {
        font-size: 1.6rem;
    }
    .readmore svg {
        margin: 0.1em 0 0;
    }
}
