// Core variables
$version: "6.6.6";

// Core features
$rtl: false !default;

// Accent colors
$accent: hsl(24, 95%, 60%) !default;
$lit-accent: lighten($accent, 5%) !default;
$dim-accent: darken($accent, 5%) !default;

$primary: hsl(0, 0%, 95%) !default;
$primary-color: $primary !default;
$primary-dim: darken($primary, 7%) !default;
$primary-lit: lighten($primary, 7%) !default;
$primary-color-light: $primary-lit !default;
$primary-color-dark: $primary-dim !default;

$secondary-color: lighten($primary-color, 37.5%) !default;
$secondary-color-dark: darken($secondary-color, 3%) !default;
$secondary-color-light: lighten($secondary-color, 3%) !default;

// Gray colors
$dark-color: hsl(60, 5%, 95%) !default;
$light-color: hsl(0, 0%, 100%) !default;
$gray-color: lighten($dark-color, 55%) !default;
$gray-color-dark: darken($gray-color, 30%) !default;
$gray-color-light: lighten($gray-color, 20%) !default;

$bg: hsl(0, 0%, 0%) !default;
$bg-color: $bg !default;
$bg-dark: $bg !default;
$bg-lit: $bg !default;
$bg-color-dark: $bg !default;
$bg-color-light: $bg !default;
$border-color: lighten($bg, 5) !default;
$border-color-dark: darken($border-color, 3%) !default;
$border-color-light: lighten($border-color, 3%) !default;
// Control colors
$success-color: #32b643 !default;
$warning-color: #ffb700 !default;
$error-color: #e85600 !default;

// Other colors
$code-color: #78acca !default;
$highlight-color: #f8eac5 !default;
$body-bg: $bg-color-dark !default;
$body-font-color: lighten($dark-color, 5%) !default;
$link-color: $primary-color !default;
$link-color-dark: darken($link-color, 10%) !default;
$link-color-light: lighten($link-color, 10%) !default;

// Fonts
$font-family-articulat_cf-bold: "Articulat CF-Bold", Helvetica !default;
$font-family-articulat_cf-extrabold: "Articulat CF-ExtraBold" !default;
$font-family-articulat_cf-medium: "Articulat CF-Medium", Helvetica !default;
$font-family-articulat_cf-regular: "Articulat CF-Regular", Helvetica !default;
$font-family-vcr_osd_mono-regular: "VCR OSD Mono-Regular", monospace !default;

$font-sans-serif: "Articulat CF-Regular", "Helvetica Neue", Helvetica, -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",  "Cantarell", "Fira Sans", "Droid Sans", sans-serif !default;
$base-font-family: "Articulat CF-Regular", "Helvetica Neue", Helvetica,  -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",  "Cantarell", "Fira Sans", "Droid Sans", sans-serif !default;
$mono-font-family: "VCR OSD Mono-Regular", "SF Mono", "Segoe UI Mono",  "Roboto Mono", Menlo, Courier, monospace !default;
$fallback-font-family: "Helvetica Neue", "Helvetica", Georgia, Times, sans-serif !default;
$cjk-zh-hans-font-family: $base-font-family, "PingFang SC", "Hiragino Sans GB",  "Microsoft YaHei", $fallback-font-family !default;
$cjk-zh-hant-font-family: $base-font-family, "PingFang TC", "Hiragino Sans CNS",  "Microsoft JhengHei", $fallback-font-family !default;
$cjk-jp-font-family: $base-font-family, "Hiragino Sans",  "Hiragino Kaku Gothic Pro", "Yu Gothic", YuGothic, Meiryo,  $fallback-font-family !default;
$cjk-ko-font-family: $base-font-family, "Malgun Gothic", $fallback-font-family !default;
$body-font-family: $base-font-family, $fallback-font-family !default;

// Unit sizes
$unit-o: 0.05rem !default;
$unit-h: 0.1rem !default;
$unit-1: 0.2rem !default;
$unit-2: 0.4rem !default;
$unit-3: 0.6rem !default;
$unit-4: 0.8rem !default;
$unit-5: 1rem !default;
$unit-6: 1.2rem !default;
$unit-7: 1.4rem !default;
$unit-8: 1.6rem !default;
$unit-9: 1.8rem !default;
$unit-10: 2rem !default;
$unit-12: 2.2rem !default;
$unit-16: 2.4rem !default;
$unit-16: 2.6rem !default;
$unit-16: 2.8rem !default;
$unit-16: 3.0rem !default;
$unit-16: 3.2rem !default;
$unit-16: 3.4rem !default;
$unit-16: 3.6rem !default;

$html-font-size: 10px !default;
$html-line-height: 1.5 !default;
$font-size: 2rem !default;
$font-size-sm: 0.7rem !default;
$font-size-lg: 0.9rem !default;
$line-height: 1.2rem !default;

// Sizes
$layout-spacing: $unit-2 !default;
$layout-spacing-sm: $unit-1 !default;
$layout-spacing-lg: $unit-4 !default;
$border-radius: $unit-o !default;
$border-width: $unit-o !default;
$border-width-lg: $unit-h !default;
$control-size: $unit-9 !default;
$control-size-sm: $unit-7 !default;
$control-size-lg: $unit-10 !default;
$control-padding-x: $unit-2 !default;
$control-padding-x-sm: $unit-2 * 0.75 !default;
$control-padding-x-lg: $unit-2 * 1.5 !default;
$control-padding-y: ($control-size - $line-height) / 2 - $border-width !default;
$control-padding-y-sm: ($control-size-sm - $line-height) / 2 - $border-width !default;
$control-padding-y-lg: ($control-size-lg - $line-height) / 2 - $border-width !default;
$control-icon-size: 0.8rem !default;

$control-width-xs: 180px !default;
$control-width-sm: 320px !default;
$control-width-md: 640px !default;
$control-width-lg: 1440px !default;
$control-width-xl: 1920px !default;

// Responsive breakpoints
$size-xs: 480px !default;
$size-sm: 600px !default;
$size-md: 840px !default;
$size-lg: 1440px !default;
$size-xl: 1920px !default;

$responsive-breakpoint: $size-xs !default;

// Z-index
$zindex-0: 1 !default;
$zindex-1: 100 !default;
$zindex-2: 200 !default;
$zindex-3: 300 !default;
$zindex-4: 400 !default;
