<style>
  #f4-card-tags{
      padding: 2rem;
  }
  #f4-loop-no{
    padding-top: 12.5vh;
  }
  #f4-bg-img{
    background-color:#000;
    display: inline-block;
    background-blend-mode:darken(0.9);
    height: 90vh;
    padding: 2rem;
    }
  }
  #f4-title{
    font-family: "Articulat CF-Extrabold";
    padding-left: 0rem;
    font-size: 6rem;
  }
  #f4-excerpt{
    font-size: 2.0rem;
  }
</style>
<div id="f4-inner" class="grid">
    <div id="f4-loop-row" class="row">
        {{#get "posts" include="tags,authors" filter="tag:hash-happenings" limit=3 as |happening|}}
        {{#foreach happening}}
            {{#unless featured}}
            <a href="{{url}}">
            <div class="col-12 col-mx-auto">
                    <article  id="#f4-bg-img"
                        class="image-card {{post_class}}"
                        style="background-color: #555;
                               background-image: url('{{img_url feature_image}}');
                               background-blend-mode: darken;
                               background-position: center;
                               background-repeat: no-repeat;
                               background-size: cover;">
                        <div class="card-header">
                            {{#if tags}}
                                {{#foreach tags}}
                                    <span id="f3-card-tags">{{name}}</span>
                                {{/foreach}}
                            {{else}}
                                <p></p><!-- no tags -->
                            {{/if}}
                        </div>
                        {{#if feature_image}}
                            <div class="card-header">
                                <h1 id="f4-title" class="card-title">{{title}}</h1>
                                {{#if excerpt}}
                                    <p id="f4-excerpt" class="card-subtitle">{{{custom_excerpt}}}</p>
                                {{/if}}
                            </div>
                        {{/if}}
                        <a class="u-permalink" href={{url}} aria-label="{{title}}"></a>
                    </article>
                </div>
            </a>
        {{/unless}}
        {{/foreach}}

        {{/get}}
    </div>
</div>
