<style>
  #f4 { padding-top: 12.5vh;}
  #f4-h2-title {text-transform: uppercase;}
  #f4-h2-title-m { font-family: "Articulat CF-Light";}
  #f4-a-events {
    font-size: 3.5rem;
    padding-bottom:0.3rem;
    font-family: "Articulat CF-Medium";
    }
</style>
<div id="f4" class="grid">
  <div class="row oneline">
    <div class="col-1"></div>
    <div class="col-mr-auto">
        <h2 id="f4-h2-title" class="r5">
          <span id="f4-h2-title-m">Recent</span>
        </h2>
    </div>
  </div>
  {{> index/frame-4/featured-loop}}

</div>
