<style>
    .kg-gallery-card {
        margin: 0,0,0.4rem,0;
    }
    .kg-gallery-container {
        position: relative;
    }
    .kg-gallery-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .kg-gallery-image img {
        display: block;
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
<figure class="kg-card kg-gallery-card kg-width-wide">
    <div class="kg-gallery-container">
        <div class="kg-gallery-row">

            <div class="kg-gallery-image" style="flex: 2.34242 1 0%;"><img
                    src="http://dev.varmeverket.com/content/images/2021/11/60b9ec17477e9a76f8504837_Image-6.png"
                    loading="lazy" alt=""
                    srcset="http://dev.varmeverket.com/content/images/size/w600/2021/11/60b9ec17477e9a76f8504837_Image-6.png 600w, http://dev.varmeverket.com/content/images/size/w1000/2021/11/60b9ec17477e9a76f8504837_Image-6.png 1000w, http://dev.varmeverket.com/content/images/2021/11/60b9ec17477e9a76f8504837_Image-6.png 1375w"
                    sizes="(min-width: 720px) 720px" width="1375" height="587"></div>
            <div class="kg-gallery-image" style="flex: 1.33333 1 0%;"><img
                    src="http://dev.varmeverket.com/content/images/2021/11/609115f68bfb31d11027381f_IMG_1610.jpg"
                    loading="lazy" alt=""
                    srcset="http://dev.varmeverket.com/content/images/size/w600/2021/11/609115f68bfb31d11027381f_IMG_1610.jpg 600w, http://dev.varmeverket.com/content/images/size/w1000/2021/11/609115f68bfb31d11027381f_IMG_1610.jpg 1000w, http://dev.varmeverket.com/content/images/size/w1600/2021/11/609115f68bfb31d11027381f_IMG_1610.jpg 1600w, http://dev.varmeverket.com/content/images/2021/11/609115f68bfb31d11027381f_IMG_1610.jpg 1920w"
                    sizes="(min-width: 720px) 720px" width="1920" height="1440"></div>
            <div class="kg-gallery-image" style="flex: 1.5 1 0%;"><img
                    src="http://dev.varmeverket.com/content/images/2021/11/606a0b21a7e78230cf3422b2_IMG_3179.jpg"
                    loading="lazy" alt=""
                    srcset="http://dev.varmeverket.com/content/images/size/w600/2021/11/606a0b21a7e78230cf3422b2_IMG_3179.jpg 600w, http://dev.varmeverket.com/content/images/size/w1000/2021/11/606a0b21a7e78230cf3422b2_IMG_3179.jpg 1000w, http://dev.varmeverket.com/content/images/size/w1600/2021/11/606a0b21a7e78230cf3422b2_IMG_3179.jpg 1600w, http://dev.varmeverket.com/content/images/2021/11/606a0b21a7e78230cf3422b2_IMG_3179.jpg 1920w"
                    sizes="(min-width: 720px) 720px" width="1920" height="1280"></div>
        </div>

        <div class="kg-gallery-row">
            <div class="kg-gallery-image" style="flex: 1.45396 1 0%;"><img
                    src="http://dev.varmeverket.com/content/images/2021/11/60b9efd2c169921814b5c20f_ica.png"
                    loading="lazy" alt=""
                    srcset="http://dev.varmeverket.com/content/images/size/w600/2021/11/60b9efd2c169921814b5c20f_ica.png 600w, http://dev.varmeverket.com/content/images/2021/11/60b9efd2c169921814b5c20f_ica.png 900w"
                    sizes="(min-width: 720px) 720px" width="900" height="619"></div>
            <div class="kg-gallery-image" style="flex: 2.31179 1 0%;"><img
                    src="http://dev.varmeverket.com/content/images/2021/11/60b9efac80fed2242bd10955_Skapa.png"
                    loading="lazy" alt=""
                    srcset="http://dev.varmeverket.com/content/images/size/w600/2021/11/60b9efac80fed2242bd10955_Skapa.png 600w, http://dev.varmeverket.com/content/images/size/w1000/2021/11/60b9efac80fed2242bd10955_Skapa.png 1000w, http://dev.varmeverket.com/content/images/2021/11/60b9efac80fed2242bd10955_Skapa.png 1431w"
                    sizes="(min-width: 720px) 720px" width="1431" height="619"></div>
        </div>
    </div>
</figure>