<style>
  #global-modal-button{
    display: contents;
    margin: auto, 20px, auto, auto;
  }
  #travel-button{
    margin-right: auto;
  }
  #travel-btn-img{
    margin-right: auto;
  }
  #navlogoimg{
        background-color: black;
  }
  .nav-fixation {
    position: fixed;
    top: 0;
    left: 0;
    width: inherit;
    background-color: #0000;
    }
  }
</style>
<header id="gh-head" class="navbar nav-fixation">
  <section id="navbar-logo-section" class="mrr">
  <a id="navlogolink" href="{{@site.url}}" class="navbar-brand">
        {{#if @site.logo}}
            <img id="navlogo" src="{{@site.logo}}" alt="{{@site.title}}" />
        {{else}}
            {{@site.title}}
        {{/if}}
    </a>

  <section class="mrr">
    {{!--
      <button id="travel-button" class="btn" style="display: contents"
        onClick="(function(e){
            document.getElementById('modal-id').classList.add('active');
            document.getElementsByTagName('body')[0].style.overflow = 'hidden';
                return false;
                })(arguments[0]);return false;"
        >
        <img id="travel-btn-img" src="{{@site.logo}}" alt="{{@site.title}}" />
    </button>--}}
    <button id="global-modal-button" class="btn"
        onClick="(function(e){
            document.getElementById('modal-id').classList.add('active');
            document.getElementsByTagName('body')[0].style.overflow = 'hidden';
                return false;
                })(arguments[0]);return false;">
        {{>icons/36/menu}}
    </button>
  </section>
</header>
<script>
  window.onscroll = function() {scrollFunction()};
  function scrollFunction() {
    if (document.body.scrollTop > 90 || document.documentElement.scrollTop < 95) {
        anime({
          targets: '#navlogo',
          border: '1px solid white',
          padding: ['0px', '7px'],
          easing: 'easeInOutQuad',
      });
      document.getElementById('navlogo').style.backgroundColor = 'black';
      document.getElementById('navlogo').setAttribute('id', 'navlogo-post-transform');
    }
  }
</script>