<style>
    header.navbar {
        height: 96px;
        background-color: #0000;
    }

</style>
<header id="gh-head" class="navbar">
  <section>
    <a href="{{@site.url}}" class="navbar-brand">
        {{#if @site.logo}}
            <img src="{{@site.logo}}" alt="{{@site.title}}" />
        {{else}}
            {{@site.title}}
        {{/if}}
    </a>
  </section>

  <section class="mrr">
    <a  class="btn btn-primary header-button"
        href="#modal-id"
        onClick="(function(e){
            document.getElementById('modal-id').classList.add('active');
                return false;
                })(arguments[0]);return false;"
        >
        <i class="icon icon-menu"></i>
    </a>
    {{>header/modal}}
  </section>
</header>