<style>
    .modal-footer>nav>ul,li{
        font-size: 3.2rem;
        margin-top: 1rem;
    }
    #container-modal{
        padding: 1rem;
        background-color: unset;
    }
    #modal-container-header {
        background-color: #000;
        padding:unset;
    }
    #clsbtn {
        margin-right: 1.2rem;
        margin-top: 0.5rem;
    }
</style>

<div id="modal-id" class="modal">
    <a href="" class="modal-overlay" aria-label="Close"
        onClick="(function(e){
            document.getElementById('modal-id').classList.remove('active');
            document.getElementsByTagName('body')[0].style.overflow = 'visible' // the default for the css property
            return false;
            })(arguments[0]);return false;">
    </a>

    <div id="container-modal" class="modal-container float-right">
        <div id="modal-container-header" class="modal-header">
            <a id="clsbtn" class="btn-clear float-right" aria-label="Close"
                onClick="(function(e){
                    document.getElementById('modal-id').classList.remove('active');
                    document.getElementsByTagName('body')[0].style.overflow = 'visible' // the default for the css property
                    return false;
                    })(arguments[0]);return false;">
                {{>icons/36/x}}
            </a>
        </div>
        <div class="modal-body">
            {{navigation}}
        </div>
        <div class="modal-footer">
            {{#if @site.secondary_navigation}}
                {{navigation type="secondary"}}
            {{/if}}
        </div>
            </div>
        </div>
    </div>
</div>
