{{!< default}}
{{> talents-header}}
<style>
  #talents-grid{
    min-height: 100vh;
  }
  #talent-img{
    height: 25vh;
  }
</style>
<div id="talents-grid" class="grid sm">
  <div class="row">
  {{#get "posts" include="tags,authors" filter="tag:hash-talents" limit=9 as |talent|}}
  <div class="col-12">
    <div class="grid">
      <div class="row">
        {{#foreach talent}}
                <div class="col-3 col-mx-auto">
                  <a class="u-permalink" href={{url}} aria-label="{{title}}">
                    <article class="card {{post_class}} f3">
                        {{#if feature_image}}
                            <div class="card-image">
                                <img id="talent-img" class="img-responsive img-full-cover"
                                    srcset="{{> functions/srcset}}"
                                    sizes="(max-width: 1000px) 400px, 700px"
                                    src="{{img_url feature_image size="m"}}"
                                    alt="{{title}}" loading="lazy">
                              </div>
                        {{/if}}
                        <div class="card-header">
                          <h2 class="card-title f3">
                            {{title}}
                          </h2>
                        </div>

                    </article>
                    </a>
                </div>
                {{/foreach}}
              </div>
            </div>
          </div>
  {{/get}}
</div>

  </div>
</div>
