<style>
    #event-header-title{
        font-family: 'Articulat CF-Bold';
        padding-top: 0.8rem;
    }
    #event-excerpt{
        text-align: center;
    }
</style>
<h1 id="event-header-title" class="flex-centered title">Happenings</h1>
<header class="grid md">
    <section class="row">
        <div class="col-mx-auto">
        <p id="event-excerpt" class="mono upper text-small">Events is where every possibilty of new experiences is taking place. The goal is to create a community that will continue to grow and we know that the oppurtunity and potential for creating culture is endless.</p>

        </div>
    </section>
    <section></section>
<hr>

    <script>
        function scrollview(this){
            console.log(this);
            document.querySelector("h1").nextElementSibling.scrollIntoView({behavior: 'smooth', block: 'start'});
        }
    </script>
</header>
<div class="grid">
    <div class="row">
        {{#tag}}
        <header class="gh-page-head">
        <h1>{{name}}</h1>
        <p>
            {{#if description}}
                {{description}}
            {{else}}
                A collection of {{plural ../pagination.total empty='posts' singular='% post' plural='% posts'}}
            {{/if}}
        </p>
        {{#if feature_image}}
            <img class="gh-page-image" src="{{feature_image}}" alt="{{name}}" />
        {{/if}}
        </header>
        {{/tag}}
    </div>
</div>