<form class="form-wrapper cover-form" data-members-form="">
    <input class="auth-email" type="text" data-members-name="" placeholder="Jocelyn Pook" required="true" autocomplete="false" autofocus="">
    <input class="auth-email" style="max-width: max-content;" data-members-label="" type="date" min="1919-10-22" max="2003-12-31" required="true">
    <input class="auth-email" type="email" data-members-email="" placeholder="user@mail" required="true" autocomplete="false">
    <button class="form-button" style="top: 222px;" type="submit" aria-label="Submit">
    <span class="default">Continue</span>
    <span class="loader">...</span>
    <span class="success">Email send</span>
    </button>
</form>