<style>
  #f5>form>h2{
      font-size: 5rem;
  }
  #f5>form{
    margin-top: 4rem;
    padding: 3rem;
  }
  #f5{
    /*height: calc(-96px + 100vh);*/
    height: calc(25vh);
    background-image: url();
    background-repeat:no-repeat;
    background-size: cover;
    background-position-y: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:unset;
  }
  #f5-row-one{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #f5-row-two{
    height: 5vh;
  }
  #index-f5-column{
    margin-top: auto;
  }
  #index-f5-header{
    font-family: "Articulat CF-ExtraLight";
    font-size: 5rem;
    margin: unset;
    text-align: center;
    text-transform:uppercase;
  }
  #f5-h1-title-b { font-family: "Articulat CF-Bold";}
  #index-f5-btn-layout{
    display: flex;
    flex-direction: column;
    flex-shrink: unset;
    margin-top: auto;
    margin-bottom: 94px;
  }
</style>
    <hr>
<div id="f5" class="grid">
    <div class="row">
      <div class="col-1"></div>
      <h2 id="index-f5-header">Newsletter</h2>
    </div>
    <form class="form" data-members-form="subscribe">
        <p class="flex-centered">Know about our community and events at {{@site.title}}</p>
        <div class="form-group flex-centered">
            <input aria-label="Email Address" class="input" data-members-email type="email" placeholder="youremail@example.com" required="true" autocomplete="false"/>
            <button class="gh-button gh-button-primary" type="submit">
              Subscribe
            </button>
        </div>
        {{!--<p><small>Already have an account? <a href="/signin/">Sign in</a></small></p>--}}
        <div class="message-success"><strong>Great!</strong> Check your inbox and click the link to confirm your subscription</div>
        <div class="message-error">Please enter a valid email address!</div>
    </form>
</div>