
<div class="filter">
  <input type="radio" id="tag-0" class="filter-tag" name="filter-radio" hidden checked>
  <input type="radio" id="tag-1" class="filter-tag" name="filter-radio" hidden>
  <input type="radio" id="tag-2" class="filter-tag" name="filter-radio" hidden>
  <input type="radio" id="tag-3" class="filter-tag" name="filter-radio" hidden>
  <input type="radio" id="tag-4" class="filter-tag" name="filter-radio" hidden>
  <input type="radio" id="tag-5" class="filter-tag" name="filter-radio" hidden>
  <input type="radio" id="tag-6" class="filter-tag" name="filter-radio" hidden>
  <input type="radio" id="tag-7" class="filter-tag" name="filter-radio" hidden>

  <div class="filter-nav">
    <label class="chip" for="tag-0">Music</label>
    <label class="chip" for="tag-1">Conference</label>
    <label class="chip" for="tag-2">Podcast</label>
    <label class="chip" for="tag-3">Photo</label>
    <label class="chip" for="tag-4">Atelier</label>
    <label class="chip" for="tag-5">Maker Space</label>
    <label class="chip" for="tag-6">Dance</label>
    <label class="chip" for="tag-7">Venues</label>
  </div>

  <div class="filter-body">
    <div class="filter-item card" data-tag="tag-1">
      <!-- Filter item content -->
    </div>
    <div class="filter-item card" data-tag="tag-2">
      <!-- Filter item content -->
    </div>
    <!-- Filter items -->
  </div>
</div>
