<style>
    #cos-navbar{
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
    }
    #cos-header{
        font-family: 'Articulat CF-Bold';
    }
</style>

<h1 id="cod-header" class="flex-centered title">Co-Studios</h1>

<header id="cos-navbar" class="navbar">
    <section></section>
    {{> co-studios/filter}}
    <section></section>
        <script>
            function scrollview(this){
                console.log(this);
                document.querySelector("h1").nextElementSibling.scrollIntoView({behavior: 'smooth', block: 'start'});
            }
        </script>
</header>