<section class="center">
    <a class="btn btn-link" href="/venues/">Venues</a>
    <a class="btn btn-link" href="/co-studios/music/">Music</a>
    <a class="btn btn-link" href="/co-studios/conference/">Conference</a>
    <a class="btn btn-link" href="/co-studios/podcast/">Podcast</a>
    <a class="btn btn-link"  href="/co-studios/photo-film/">Photography</a>
    <a class="btn btn-link" href="/co-studios/atelier/">Atelier</a>
    <a class="btn btn-link" href="/co-studios/maker-space/">Maker Space</a>
    <a class="btn btn-link" href="/co-studios/dance/">Dance</a>
</section>