<style>
    .discipline > li, .index-type > li{
        font-size: 2.5rem;
        line-height: 2.5rem;
        text-decoration: none;
        list-style: none;
        margin-bottom: 0;
    }
    .popover.popover-right .popover-container {
    left: 250%;
    top: 50%;
    /*border: 1px solid #ddd;*/
    width: 180px;
}
.card-body>p{
    font-size: 2rem;
}
.btn-link:hover{
    color: #fba46a;
}
</style>
<ul class="discipline">
    <li class="nav-item">
        <div class="popover popover-right">
            <button class="btn btn-link">Music</button>
            <div class="popover-container">
                <div class="card">
                    <div class="card-header">
                        <h3 style="border-bottom: 1px solid #eee">Music</h3>
                    </div>
                    <div class="card-body flex-centered">
                        <p>
                            5 studios
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="popover popover-right">
            <button class="btn btn-link">Photo</button>
            <div class="popover-container">
                <div class="card">
                    <div style="" class="card-header">
                        <h3 style="border-bottom: 1px solid #eee">Photo</h3>
                    </div>
                    <div class="card-body flex-centered">
                        <p>
                            1 studio
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="popover popover-right">
            <button class="btn btn-link">Film</button>
            <div class="popover-container">
                <div class="card">
                    <div style="" class="card-header">
                        <h3 style="border-bottom: 1px solid #eee">Film</h3>
                    </div>
                    <div class="card-body flex-centered">
                        <p>
                            Production facility
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="popover popover-right">
            <button class="btn btn-link">Prototyping</button>
            <div class="popover-container">
                <div class="card">
                    <div style="" class="card-header">
                        <h3 style="border-bottom: 1px solid #eee">Prototyping</h3>
                    </div>
                    <div class="card-body flex-centered">
                        <p>
                            Workshops
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="popover popover-right">
            <button class="btn btn-link">Technology</button>
            <div class="popover-container">
                <div class="card">
                    <div style="" class="card-header">
                        <h3 style="border-bottom: 1px solid #eee">Technology</h3>
                    </div>
                    <div class="card-body flex-centered">
                        <p>
                            Innovative ideas
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="popover popover-right">
            <button class="btn btn-link">Classes</button>
            <div class="popover-container">
                <div class="card">
                    <div style="" class="card-header">
                        <h3 style="border-bottom: 1px solid #eee">Classes</h3>
                    </div>
                    <div class="card-body flex-centered">
                        <p>
                            Lectures
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="popover popover-right">
            <button class="btn btn-link">Art</button>
            <div class="popover-container">
                <div class="card">
                    <div style="" class="card-header">
                        <h3 style="border-bottom: 1px solid #eee">Art</h3>
                    </div>
                    <div class="card-body flex-centered">
                        <p>
                            Ateliers
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <div class="popover popover-right">
            <button class="btn btn-link">Community</button>
            <div class="popover-container">
                <div class="card">
                    <div style="" class="card-header">
                        <h3 style="border-bottom: 1px solid #eee">Community</h3>
                    </div>
                    <div class="card-body flex-centered">
                        <p>
                            Events and engagement
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </li>

</ul>