<style>
  #f2 {
    height: 100vh;
    padding-top:12.5vh;
    /*margin-bottom: 25vh*/
  }
  #f2-h2-title {
    text-transform: uppercase;
    font-family: "Articulat CF-ExtraLight";
    font-size: 5rem;
  }
</style>
<div id="f2" class="grid lg">
    <div class="row oneline">
      <div class="col-1"></div>
      <div class="col-mr-auto">
        <h2 id="f2-h2-title">Disciplines</h2>
    </div>
    </div>

    {{> index/frame-2/md}}

    <div class="row">
    <div class="col-mx-auto">
        <a href="#recent"
          onClick="(function(e){
                  document.getElementById('f3').scrollIntoView({behavior: 'smooth', block: 'start'});
                  return false;
                  })(arguments[0]);
                  return false;">
        <i data-feather="chevrons-down"></i>
        </a>
    </div>
    </div>
</div>