<div class="filter">
  <input type="radio" id="tag-0" class="filter-tag" name="filter-radio" hidden checked>
  <input type="radio" id="tag-1" class="filter-tag" name="filter-radio" hidden>
  <input type="radio" id="tag-2" class="filter-tag" name="filter-radio" hidden>
  <input type="radio" id="tag-3" class="filter-tag" name="filter-radio" hidden>
  <input type="radio" id="tag-4" class="filter-tag" name="filter-radio" hidden>
  <input type="radio" id="tag-5" class="filter-tag" name="filter-radio" hidden>
  <input type="radio" id="tag-6" class="filter-tag" name="filter-radio" hidden>
  <input type="radio" id="tag-7" class="filter-tag" name="filter-radio" hidden>

  <div class="filter-nav">
    <label class="chip" for="tag-0">Music</label>
    <label class="chip" for="tag-1">Photo</label>
    <label class="chip" for="tag-2">Film</label>
    <label class="chip" for="tag-3">Prototyping</label>
    <label class="chip" for="tag-4">Technology</label>
    <label class="chip" for="tag-5">Classes</label>
    <label class="chip" for="tag-6">Art</label>
    <label class="chip" for="tag-7">Community</label>
  </div>

  <div class="filter-body">
    <div class="filter-item card" data-tag="tag-1">
        <figure class="figure">
            <img class="img-responsive img-fit-contain" src="{{asset '/images/building-image-trans.png'}}" alt="Varmeverket Building">
            <figcaption class="figure-caption text-center"></figcaption>
        </figure>
    </div>
    <div class="filter-item card" data-tag="tag-2">
        <figure class="figure">
            <img class="img-responsive img-fit-contain" src="{{asset '/images/building-image-trans.png'}}" alt="Varmeverket Building">
            <figcaption class="figure-caption text-center"></figcaption>
        </figure>
    </div>
    <div class="filter-item card" data-tag="tag-3">
        <figure class="figure">
            <img class="img-responsive img-fit-contain" src="{{asset '/images/building-image-trans.png'}}" alt="Varmeverket Building">
            <figcaption class="figure-caption text-center"></figcaption>
        </figure>
    </div>
    <div class="filter-item card" data-tag="tag-4">
        <figure class="figure">
            <img class="img-responsive img-fit-contain" src="{{asset '/images/building-image-trans.png'}}" alt="Varmeverket Building">
            <figcaption class="figure-caption text-center"></figcaption>
        </figure>
    </div>
    <div class="filter-item card" data-tag="tag-5">
        <figure class="figure">
            <img class="img-responsive img-fit-contain" src="{{asset '/images/building-image-trans.png'}}" alt="Varmeverket Building">
            <figcaption class="figure-caption text-center"></figcaption>
        </figure>
    </div>
    <div class="filter-item card" data-tag="tag-6">
        <figure class="figure">
            <img class="img-responsive img-fit-contain" src="{{asset '/images/building-image-trans.png'}}" alt="Varmeverket Building">
            <figcaption class="figure-caption text-center"></figcaption>
        </figure>
    </div>
    <div class="filter-item card" data-tag="tag-7">
        <figure class="figure">
            <img class="img-responsive img-fit-contain" src="{{asset '/images/spaces-conference.png'}}" alt="Varmeverket Building">
            <figcaption class="figure-caption text-center"></figcaption>
        </figure>
    </div>
  </div>
</div>