<style>
  #f2 {
    height: calc(-96px + 100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:unset;
    margin-left: auto;
    margin-right: auto;
  }
  #f2-h2-title {
    text-transform: uppercase;
    font-family: "Articulat CF-ExtraLight";
    font-size: 5rem;
  }
  .f2-btn{
    display: flex;
    flex-direction: column;
    flex-shrink: unset;
    margin-top: auto;
    margin-bottom: 94px;
  }
  .f2-btn>a{
    text-align: center;
  }
</style>
<div id="f2" class="grid lg">
    <div class="row oneline">
        <div class="col-1"></div>
        <div class="col-mr-auto">
            <h2 id="f2-h2-title">
              Disciplines
            </h2>
        </div>
    </div>

    {{> index/frame-2/rot360}}

    <div class="f2-btn">
        <a href="#recent"
          onClick="(function(e){
                  document.getElementById('f3').scrollIntoView({behavior: 'smooth', block: 'start'});
                  return false;
                  })(arguments[0]);
                  return false;">
            <i data-feather="chevrons-down"></i>
        </a>
    </div>
</div>