<style>
</style>
<div class="row oneline" style="overflow:visible;">
    <div class="col-mr-auto">
        <div class="nav">
            {{> index/frame-2/disciplines-listed}}
        </div>
    </div>
    <di class="col-mr-auto">
        <img class="img-responsive img-fit-contain" src="{{asset '/images/building-image-trans.png'}}" alt="Varmeverket Building">
    </div>
</div>

