<style>

    #varmeverket-360{

    }
    #varmeverket-360-slider{
        margin-top: unset;
    }
    #varmeverket-360-figure{
        background-image:url('assets/images/Frame9.jpg');
        padding-bottom:37.5%;
        width:100%;
    }

</style>
<div class="row oneline" style="overflow:visible;">
    <div class="col-1"></div>
    <div class="col-mr-auto">
        <div class="nav">
            {{> index/frame-2/disciplines-listed}}
        </div>
    </div>
    <di class="col-12 col-mr-auto">
        <div id="varmeverket-360" class="viewer-360 loading">
            <input id="varmeverket-360-slider" class="viewer-slider slider tooltip" type="range" min="1" max="36" value="1" oninput="this.setAttribute('value', this.value);" style="border: 2px solid #333">
            <figure id="varmeverket-360-figure" class="viewer-image" loading="lazy"></figure>
        </div>
        {{!--
            <img class="img-responsive img-fit-contain" src="{{asset '/images/building-image-trans.png'}}" alt="Varmeverket Building">
        --}}
    </div>
</div>
<script>
    document.getElementById('varmeverket-360').classList.remove('loading');
    x=1
    window.addEventListener("scroll", (event) => {
        if (x<36) {
            let nv = x+=1;
            console.log(nv)
            document.getElementById('varmeverket-360-slider').setAttribute('value', nv);
        } else {
            x = 1
        }
    });
</script>


