<div class="row">
  {{#get "posts" include="tags,authors" filter="tag:blog" limit=3 as |happenings|}}
    {{#foreach happenings}}
          <div class="col-xs-12 col-sm-11 col-md-6 col-lg-4 col-xl-4 col-4 col-mr-auto">
            <a class="u-permalink" href={{url}} aria-label="{{title}}">
              <article class="card {{post_class}} f3">
                  {{#if feature_image}}
                      <div class="card-image">
                          <img class="img-fit-cover img-full-cover"
                              srcset="{{> functions/srcset}}"
                              sizes="(max-width: 1000px) 400px, 700px"
                              src="{{img_url feature_image size="m"}}"
                              alt="{{title}}" loading="lazy">
                        </div>
                  {{/if}}
                  {{#if custom_excerpt}}
                    <p class="card-subtitle f3">{{{custom_excerpt}}}</p>
                  {{/if}}
                  <div class="card-header">
                    <h2 class="card-title f3">
                      {{title}}
                    </h2>
                  </div>
                  <div class="card-footer">
                    {{#foreach authors}}
                        <p class="f3">
                          {{name}}
                        </p>
                    {{/foreach}}
                  </div>
              </article>
              </a>
          </div>
    {{/foreach}}
  {{/get}}
</div>
